model_weights/*.pt filter=lfs diff=lfs merge=lfs -text
model_weights/*.pth filter=lfs diff=lfs merge=lfs -text
model_weights/*.safetensors filter=lfs diff=lfs merge=lfs -text
model_weights/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
model_weights/**/*.ckpt filter=lfs diff=lfs merge=lfs -text
model_weights/**/*.pth filter=lfs diff=lfs merge=lfs -text
